@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.timeslots {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
}

.timeslots li {
    height: 80px;
    font-family: 'Rubik', 'Montserrat'
}

/* line things */
.timeslots li::after {
    content: '';
    position: absolute;
    left: 15px;
    width: 75%;
    height: 1px;
    background-color: #ccc;
}