@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --main: #fff8f4;
    --secondary: #B0C4DE;
    --color1: rgb(1, 190, 254);
    --color2: rgb(255, 221, 0);
    --color3: rgb(255, 125, 0);
    --color4: rgb(255, 0, 109);
    --color5: rgb(173, 255, 2);
    --color6: rgb(143, 0, 255);
    --active-bg-color: var(--color1);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: var(--main);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image-download-container{
    margin-top: 3em;
    margin-bottom: 3em;
}

#download-image-button{
    width: 90% ;
}

.sidebar-container{
    width: 25%;
    padding-left: 5em;
    margin-bottom: 8em;
}

.grid-container{
    margin: 30px 20px 20px 20px;
    display: grid;
    grid-template-columns: 50px;
    gap: 1px;
    grid-template-areas: 
    ". header"
    "timeslots-container main";
    background-color: var(--main);
    width: 75%;
}

.timeslots-container{
    grid-area: timeslots-container;
    justify-content: left;
}

/*  (14*60)/5 = 168*/
.event-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    grid-template-rows: repeat(168, 1fr);
    grid-area: main;
    position: relative;
    justify-items: center;
    max-height: 1120px;
}