@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.weekdays{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 3em;
    text-align: center;
}

.weekdays > li {
    font-family: 'Rubik', 'Montserrat';
}

.weekdays-header{
    grid-area: header;
}